registry=https://artifactory.server.rbsgrp.net/artifactory/api/npm/xweb-npm-all-repos/
PUPPETEER_DOWNLOAD_HOST=http://lonms15195.fm.rbsgrp.net/xweb-artifactory/
ELECTRON_MIRROR=http://lonms15195.fm.rbsgrp.net/xweb-artifactory/electron/
strict-ssl=false
no_proxy=lonms15195.fm.rbsgrp.net
